extends layout.pug

block variables
	- var activePage = 'matters'
	- var activeGroup = 'none'

block title
	title Matters - Fatto

block content
	.app-title
		div
			h1
				i.fa.fa-edit
				|  Matters
			p Create new matter

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Forms
			li.breadcrumb-item
				a(href="#") Form Components

	.row
		form.col-md-12
			.tile
				.row
					.col-lg-6
						.form-group
							label(for="categoryInput") Category
							select#formSelect1.form-control(name="categorySel")
								each val in caseCategoryOption
									option(value=val.id)= val.fields.Title
						.form-group
							lable(for="matterCreatedTime") Create Date
							input#formDatetimeInput1.form-control(name="createDate",type="date", value="2018-08-18")
						.form-group
							label(for="clientSelInput") Client
							select#formSelect2.form-control(name="clientSel")
								each val in clientList
									option(value=val.fields.Title)= val.fields.Title
						.form-group
							button.btn.btn-primary(type='button', data-toggle="modal", data-target="#createNewClientModalLong") Create New Client
						.form-group
							label(for="inputBranch") Branch
							select#formSelect2.form-control(name="branchSel")
								each val in caseBranchOption
									option(value=val.fields.branchid)= val.fields.Title
						.form-group
							label(for="inputDepartment") Department
							select#formSelect3.form-control(name="departmentSel")
								each val in caseDepartmentOption
									option(value=val.fields.deparmentid)= val.fields.Branch + "-" + val.fields.Title
						.form-group
							label(for="inputCaseName") Case Name
							input#formCaseNameInput1.form-control(name="Title", type="text")
						.card.bg-light.mb-3
							.card-header Client Contact Information
							.card-body
								.list-group.list-group-flush#contactInformationBody
									each val in clientContactList
										.list-group-item=val.displayName 
										div.dropdown
											button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 选择角色
											div.dropdown-menu(aria-labelledby="dropdownMenu2")
												button.dropdown-item#clientSelAction-1(type="button") 主要联系人	
												button.dropdown-item#clientSelAction-2(type="button") 次要联系人
												button.dropdown-item#clientSelAction-3(type="button") 被告

								
					.col-lg-2.offset-lg-1
						.form-group
							label(for="inputLanguage") Language
							select#formSelect4.form-control(name="languageSel")
								option(value=1) English
								Option(value=2) 中文
						.animated-checkbox
							label
								input(type="checkbox")
								span.label-text Foreign-related
						.animated-checkbox
							label
								input(type="checkbox")
								span.label-text Legal aid
																
			.col-lg-6
				.bs-component
					.modal.fade#createNewClientModalLong(tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true")
						.modal-dialog.modal-dialog-centered(role='document')
							.modal-content
								.modal-header
									h5.modal-title Create New Client
									button.close(type='button', data-dismiss='modal', aria-label='Close')
										span(aria-hidden='true') ×
								.modal-body
									label(for="inputClientName") Client Name
									input#newClientNameInput.form-control(name="clientNameInput", type="text")
									label(for="inputClientAddress") Client Address
									input#newClientAddressInput.form-control(name="clientAddressInput", type="text")
									label(for="inputClientPhone") Client Phone
									input#newClientPhoneInput.form-control(name="clientPhoneInput", type="text")
									label(for="inputClientZIP") Client ZIP
									input#newClientZIPInput.form-control(name="clientZIPInput", type="text")
								.modal-footer
									button.btn.btn-primary#clientSaveButton(type='button') Save changes
									button.btn.btn-secondary(type='button', data-dismiss='modal') Close


			.tile-footer
				button.btn.btn-primary(type='submit') Submit

